version: "3.4"
services:

  nginx:
    build: ./nginx
    container_name: nginx
    restart: unless-stopped
    ports:
      - "8000:8000"
    depends_on:
      - db
      - myapi
    networks:
      - combined-network

  db:
    image: mysql:8
    container_name: db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_USER: myuser
      MYSQL_PASSWORD: mypassword
      MYSQL_DATABASE: user_management
    volumes:
      - ./mysql_data:/var/lib/mysql
    networks:
      - combined-network

  redis:
    image: redis:7.0-alpine3.20
    container_name: redis_manager
    networks:
      - combined-network


  myapi:
    build: ./myapi
    command: uvicorn main:app --host 0.0.0.0 --port 8001
    container_name: myapi
    depends_on:
      - db
      - redis
    networks:
      - combined-network

  celery_worker:
    build: ./myapi
    command: celery -A celery_base worker --loglevel=info
    container_name: celery_worker
    depends_on:
      - redis
      - myapi
    networks:
      - combined-network

  celery_beat:
    build: ./myapi
    command: celery -A celery_base beat --loglevel=info
    container_name: celery_beat
    depends_on:
      - redis
      - myapi
    networks:
      - combined-network

  flower:
    build: ./myapi
    command: celery -A celery_base flower --port=5555
    container_name: flower
    ports:
      - "5555:5555"
    depends_on:
      - redis
      - myapi
    networks:
      - combined-network

networks:
  combined-network:
    driver: bridge
